body{
  background-image: url("pic.png");
    background-size: cover;
}
  .container{
    display: flex;
    gap: 10px;
    background-image: url("pic.png");
    background-size: cover;
   

  }
  .mainParent{
    display: flex;
    justify-content: center;
    
    margin-top: 60px;
    margin-left: 60px;
    border: 3px solid rgb(32, 26, 26);
    border-radius: 10px;
    height: 320px;

    align-items: center;
    width: 250px;
    background-color: #1C5D7A;
    
    
  }
 input{
  padding: 7px;
  border-radius: 10px;
  background-color: rgb(236, 231, 231);
  outline: none;
 }
  
  .name > span {
    display: none;
  }
  .hide{
    visibility: hidden;
  }
  .error {
    color: black;
    font-size: 0.8em;
    color: red;
  }
  .btn {
    color: black;
    border-radius: 10px;
    padding: 2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ShowStatus{
    border: 3px solid black;
    height: 320px;
    width: 250px;
    margin-top: 60px;
    border-radius: 10px;
    display: none;
    color: #01003D;
    font-weight: bold;
    background-color: #46717E;
    text-align: center;
  }
 